---
title: Projects
---

﻿<!doctype html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <div class="wrapper">
        <section>
            {% include title.html %}
            <p>
                This is where we keep a collection of all the projects that people are working on using ev3dev. We invite you to click through the links below to see what cool stuff ev3dev can do!
            </p>
            <ul>
                <li><a href="https://github.com/mindboards/ev3dev/issues/63#issuecomment-42717732">Rubik's cube solver</a> by @cavenel</li>
                <li><a href="https://gist.github.com/dlech/11098915">Balancing robot</a> by @dlech and @G33kDude</li>
                <li><a href="http://youtu.be/9pjpQoZoW6E">Drawing robot</a> by @cavenel</li>
            </ul>

        </section>
        {% include footer.html %}
    </div>
</body>
</html>
