---
title: ev3dev
subtitle: Debian on LEGO MINDSTORMS EV3!
---

﻿<!doctype html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <div class="wrapper">
        <section>
            {% include title.html %}
            <h3>
                Introduction
            </h3>
            <p>
                The ev3dev distribution is a full Debian 7 (wheezy) Linux distribution running on the 3.3.x kernel that has been customized for the LEGO MINDSTORMS EV3 controller. (<a href="#whatsLinux">huh?</a>)

                Rather than use custom language bindings that use direct access to mmap'ed files, this distribution aims to allow as many programming languages as possible to access the EV3 peripherals using simple Linux file access. If your favorite programming language is available as an ARM port, and it can read and write files, you can use it to program the EV3.

                Currently the ev3dev distribution includes the following languages:
                <ul>
                    <li>bash/dash</li>
                    <li>awk/gawk</li>
                    <li>perl</li>
                    <li>Lua</li>
                    <li>guile</li>
                    <li>ruby</li>
                    <li>python</li>
                    <li>Google Go (golang)</li>
                    <li>Node.js</li>
                </ul>

                If your favorite language isn't listed, you can still program with the EV3. ev3dev supports standard <code>apt</code> tools, so once you get up-and-running you can install whatever language you like.

                And although you <i>can</i> directly access the APIs via file I/O if you want to, let's face it: that's hard. It's much easier when you have a higher-level library to use. Contributors have written language wrappers for the following languages:

                <ul>
                    <li><a href="https://github.com/fdetro/ev3dev-lang/tree/language-binding-unification/lua">Lua</a> by @fdetro</li>
                    <li><a href="https://github.com/fdetro/ev3dev-lang/tree/language-binding-unification/cpp">C++</a> by @fdetro</li>
                    <li><a href="https://github.com/fdetro/ev3dev-lang/tree/language-binding-unification/js">Node.js</a> by @wasabifan</li>
                    <li><a href="https://github.com/fdetro/ev3dev-lang/tree/language-binding-unification/vala">Vala</a> by @wasabifan</li>
                    <li><a href="https://github.com/mattrajca/GoEV3">Google Go</a> by @mattrajca</li>
                    <li><a href="https://github.com/topikachu/python-ev3">Python</a> by @topikachu</li>
                </ul>
            </p>

            <h3>Features</h3>
            <p>
                Features above and beyond the official LEGO kernel include:
                <ul>
                    <li>Support for Atheros, Realtek, and other wifi chipsets so you're not stuck with one specific wifi dongle</li>
                    <li>Support for SSH terminal sessions</li>
                    <li>Ethernet over USB functionality and a full network stack</li>
                    <li>Actual user accounts instead of passwordless root access</li>
                    <li>Fully upgradeable and customizable install using standard "apt" tools, running on the brick</li>
                    <li>NFS file share / file transfer capability</li>
                    <li>Automatic NTP clock updates </li>
                    <li>Access to device drivers through user-space filesystem</li>
                    <li>Built in text editors like vim and nano</li>
                    <li>Prebuilt support for programming languages like Lua, perl, gawk, Python, guile, Ruby, and more</li>
                    <li>Support for all host operating systems including Windows, Mac, Linux, Android, even Blackberry!</li>
                </ul>
                Put more simply: ev3dev can do almost everything normal Linux can, while the stock LEGO kernel cannot.
            </p>

            <h4>Using the ev3dev Kernel:</h4>
            <p>
                Don't want to give up your official LEGO MINDSTORMS EV3 kernel and rootfs? You don't need to!
            </p>
            <p>
                Just install  ev3dev  on any microSD card (min 1GB suggested, but can you even buy one that small anymore?) and plug it into the microSD slot on the EV3. The uboot loader will look on the card, find the ev3dev kernel and happily boot that instead!
            </p>
            <p>
                When you want to use the official LEGO tools, just shutdown the EV3, unplug the ev3dev microSD card and restart the brick.
            </p>
            <p>
                This is still an early beta, so it's not as polished as the official LEGO offering, but it's getting better every week as we add support for more of the native EV3 drivers. Alongside the main kernel, work is also being done on <a href="https://github.com/ev3dev/brickman">brickman</a>, which adds a LEGO-like GUI.
            </p>

            <h3>The state of the project</h3>
            <p>
                Currently, the project is being maintained by @dlech and @rhempel in their spare time. Active development is being done in the main <a href="https://github.com/ev3dev/ev3dev-kernel">
                    <code>ev3dev-kernel</code>
                </a> repo as well as in places like <a href="https://github.com/ev3dev/brickman">
                    <code>brickman</code>
                </a> and other related packages.

                ev3dev supports many of the basic functions of the brick, including:
                <ul>
                    <li>Motors</li>
                    <li>Sensors</li>
                    <li>Sound</li>
                    <li>LEDs</li>
                    <li>The LCD</li>
                </ul>
            </p>

            <h3>Getting Started</h3>
            <p>
                To start working with ev3dev, head over to the <a href="https://github.com/ev3dev/ev3dev/wiki/getting-started-v2">getting started</a> page on the main wiki.
            </p>

            <h3>Assorted Info / FAQ</h3>
            <p>
                <h4>Does ev3dev replace the firmware on my EV3 programmable brick?</h4>
            <p>
                No. ev3dev runs completely off of an SD card, leaving the existing firmware intact. To restore the original functionality of your brick, just power it off and remove the SD card containing ev3dev. When you turn it back on, it will boot using the existing firmware.
            </p>

            <h4>Can ev3dev do everything that the official firmware can?</h4>
            <p>
                No. Although the goal is to support as much as we can, some things will probably never make it in to ev3dev for various reasons. Here are some things that ev3dev doesn't do (currently):
                <ul>
                    <li>Offer a GUI on boot</li>
                    <li>Run programs from EV3-G</li>
                    <li>Automatically configure PC interaction (networking)</li>
                </ul>
            </p>

            <h4 id="whatsLinux">What's a Linux?</h4>
            <p>
                If you are at this section right now as a result of true inquiry, that probably means that ev3dev isn't something for you (yet). We're currently in a heavy development stage so ev3dev requires some more advanced knowledge and lots of time to use. We invite you to look here often, because some day we will have many more user-friendly features for you to take advantage of. Stay tuned!
            </p>

        </section>
        {% include footer.html %}
    </div>
</body>
</html>
