---
title: Site Map
---

{% assign sorted_pages=site.pages | sort: 'url' %}
{% assign last_depth=0 %}
{% for page in sorted_pages %}
    {% assign paths=page.url | split: '/' %}
    {% assign depth=paths | size %}
    {% if depth > last_depth %}
        <ul>
    {% endif %}
    {% if depth < last_depth %}
        {% for i in (depth..last_depth) %}
            {% if forloop.last != true %}
                </ul>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% assign page_name=paths | last %}
    {% if depth > 0 and page_name != 'site-map' %}
        <li><a href="{{page.url}}">{{ page.title | xml_escape }}</a> ({{ page_name }})</li>
    {% endif %}
    {% assign last_depth=depth %}
{% endfor %}
