---
title: News
subtitle: Announcements and updates
excerpt: "ev3dev release announcements, community updates, and other posts on noteworthy events. Check here or monitor our Atom feed to stay up-to-date on ev3dev news."
---

{% assign num_items = 5 %}
{% for post in site.posts %}
    {% if post.categories contains "news" %}
        {% assign num_items = num_items | minus:1 %}
        {% if num_items >= 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <a href="{{ post.url }}"> {{ post.title }}</a>
                        <span class="pull-right label font-light">{{ post.date | date_to_string }}</span>
                    </h2>
                </div>
                <div class="panel-body">
                    {{ post.excerpt }}
                    <br />
                    <br />
                    <a href="{{ post.url }}">Continue reading...</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<div class="row text-center">
    <a class="btn btn-primary" href="/news/archive">See news archive for older posts</a>
</div>