---
title: News
subtitle: Announcements and updates
---

{% for post in site.posts reversed %}
    {% if post.categories contains "news" %}
        {% assign first_post = post %}
    {% endif %}
{% endfor %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <a href="{{ site.github.url }}{{ first_post.url }}"> {{ first_post.title }}</a>
            <span class="pull-right label font-light">{{ first_post.date | date_to_string }}</span>
        </h1>
    </div>
    <div class="panel-body">
        {{ first_post.content | truncatewords: 200 }}
        <br/>
        <br />
        <a href="{{ site.github.url }}{{ first_post.url }}">Continue reading...</a>
    </div>
</div>

{% assign num_items = 5 %}
{% for post in site.posts %}
    {% if post.categories contains "news" and post.url != first_post.url %}
        {% assign num_items = num_items | minus:1 %}
        {% if num_items >= 0 %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a href="{{ site.github.url }}{{ post.url }}"> {{ post.title }}</a>
                        <span class="pull-right label font-light">{{ post.date | date_to_string }}</span>
                    </h1>
                </div>
                <div class="panel-body">
                    {{ post.content | truncatewords: 50 }}
                    <br />
                    <br />
                    <a href="{{ site.github.url }}{{ post.url }}">Continue reading...</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

<div class="row text-center">
    <a class="btn btn-primary" href="{{ site.github.url }}/news/archive">See news archive for older posts</a>
</div>