---
title: News
subtitle: Announcements and updates
---

<div id="atom-link">
    <a href="atom.xml">
        <img src="../images/feed.svg" />
    </a>
</div>

{% assign num_items = 5 %}
{% for post in site.posts %}
    {% if post.categories contains "news" %}
        {% assign num_items = num_items | minus:1 %}
        {% if num_items >= 0 %}
            <div class="news-item">
                <div class="news-item-header">
                    <h2><a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></h2>
                    <ol class="news-item-info">
                        <li> <h5> Posted by {{ post.author }} </h5> </li>
                        <li> <h5> {{ post.date | date_to_long_string  }} </h5> </li>
                    </ol>
                </div>
                {{ post.excerpt }}
                <a href="{{ site.github.url }}{{ post.url }}">More...</a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
<br/><br/>
See a list of all news posts on the <a href="{{ site.github.url }}/news/archive">news archive page</a>.