{% assign parent_dirs=page.url | replace_first: '/', '' | split: '/' %}
{% assign link='/' %}
<ol class="breadcrumb" vocab="http://schema.org" typeof="BreadcrumbList">
    {% assign position = 1 %}
    {% for dir in parent_dirs %}
        {% assign link=link | append: dir | append: '/' %}
        {% if forloop.last %}
            {% assign itemElem = 'span' %}
            {% assign liClass = 'active' %}
        {% else %}
            {% assign itemElem = 'a' %}
            {% assign hrefAttrib = 'href="' | append: link | append: '"' %}
        {% endif %}
        
        <li property="itemListElement" typeof="ListItem" class="{{liClass}}">
            <{{itemElem}} {{ hrefAttrib }} property="item" typeof="WebPage">
                <span property="name">{{ dir }}</span>
            </{{itemElem}}>
            <meta property="position" content="{{position}}">
        </li>
        {% assign position = position | plus: 1 %}
    {% endfor %}
</ol>