<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" href="{{ site.github.url }}/news/atom.xml" title="Atom feed">

    <!-- IE8 & before fixes -->
    {% include css-include.html name="normalize" %}
    <!-- Pygments syntax highlighting -->
    {% include css-include.html name="pygment_trac" %}
    <!-- Font-face loaders for Open Sans -->
    {% include css-include.html name="fonts" %}
    <!-- Core theme colors and positioning (includes original GitHub theme and custom fixes) -->
    {% include css-include.html name="theme-core" %}
    <!-- Additional theme bits like dropdown menus, logo positioning, and TOC -->
    {% include css-include.html name="theme-extensions" %}
    <!-- Nav infrastructure and misc utils (search, user cards, embeds, CC license) -->
    {% include css-include.html name="infrastructure-utils" %}
    <!-- Specific styles for news page -->
    {% include css-include.html name="news" %}
    <!-- Specific styles for projects page -->
    {% include css-include.html name="projects" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% include js-include.html name="jquery.getUrlParam" %}
    {% include js-include.html name="jquery.loadTemplate-1.4.4.min" %}
    {% include js-include.html name="ua-parser.min" %}
    {% include js-include.html name="respond" %}

    {% include js-include.html name="cards" %}
    {% include js-include.html name="menu" %}
    {% include js-include.html name="search" %}
    {% include js-include.html name="tabs" %}

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script type="text/html" id="search-result-template">
        <div class="search-result">
            <a data-href="href"><h4 data-content="title"></h4></a>
            <span data-content="breadcrumbs" class="search-result-breadcrumbs"></span>
            <span data-content="author" class="search-result-author"></span><br/>
            <span data-content="date" class="search-result-date"></span>
        </div>
    </script>

</head>
