<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title | xml_escape }}</title>
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html | strip }}"/>
    {% else %}
    <!-- Description content not available -->
    {% endif %}
    <link rel="alternate" type="application/atom+xml" href="/news/atom.xml" title="Atom feed">
    <link rel="icon" href="/favicon.ico" />

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <!-- X3D styles and scripts -->
    <!-- x3dom.js is nearly 1 MB of data so we only include it if necessary  -->
    {% if page.enable_x3d_support %}
    <link rel='stylesheet' type='text/css' href='http://www.x3dom.org/download/x3dom.css'>
    <script type='text/javascript' src='http://www.x3dom.org/download/x3dom.js'></script>
    {% endif %}
    
    <!-- Custom styles -->
    <link rel="stylesheet" href="/stylesheets/site-structure.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
    <link rel="stylesheet" href="/stylesheets/landing-content.css">
    <link rel="stylesheet" href="/stylesheets/page-content.css">
    <link rel="stylesheet" href="/stylesheets/user-cards.css">
    <link rel="stylesheet" href="/stylesheets/tabs.css">

    <!-- Python code highlighting -->
    <link rel="stylesheet" href="/stylesheets/pygments/monokai.css" />
    
    <!-- 3rd-party libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.getUrlParam.js"></script>
    <script src="/javascripts/jquery.loadTemplate-1.4.4.min.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/ua-parser.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    {% if page.include_masonry %}
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
    {% endif %}

    <!-- Caches data from requests to API endpoints -->
    <script src="/javascripts/api-cache.js"></script>
    <!-- Loads user-cards from GH API -->
    <script src="/javascripts/cards.js"></script>
    <!-- Configures special anchors to link to the most recent ev3dev release -->
    <script src="/javascripts/releases.js"></script>
    <!-- Responds to queries typed into the "Quick nav" box -->
    <script src="/javascripts/search.js"></script>
    <!-- Converts static descriptors of tab target content into live text and links -->
    <script src="/javascripts/tabs.js"></script>
    <!-- Adds classes and other styles to pages where hard-coded css can't be used -->
    <script src="/javascripts/style-helpers.js"></script>

    <!-- Template for search results -->
    <script type="text/html" id="search-result-template">
        <div class="search-result">
            <a data-href="href"><h4 data-content="title"></h4></a>
            <span data-content="breadcrumbs" class="search-result-breadcrumbs"></span>
            <span data-content="author" class="search-result-author"></span><br/>
        </div>
    </script>

    {% if page.extra-head-content %}
    {{ page.extra-head-content }}
    {% endif %}

    {% if site.github.owner_name == "ev3dev" %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-84851562-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% else %}
        <!-- Google Analytics excluded: not an official site build -->
    {% endif %}
</head>
