<div id="header">
    <nav>
        <li class="home">
            <a href="{{ site.github.url }}/" title="There's no place like Home...">Home</a>
        </li>
        <li class="projects">
            <a href="{{ site.github.url }}/projects" title="List of projects that use ev3dev">Projects Gallery</a>
        </li>
        <!-- items below float right, so appear in reverse order -->
        <li class="issues">
            <a href="https://github.com/ev3dev/ev3dev/issues" title="Found a bug? Report it here.">Issues</a>
        </li>
        <li class="wiki">
            <a href="https://github.com/ev3dev/ev3dev/wiki" title="Useful info on how to use ev3dev">Wiki</a>
         </li>
        <li class="otherPlaces">
            <a href="https://github.com/ev3dev/ev3dev/releases" title="SD card image files">Download</a>
        </li>
    </nav>
</div>

<!-- make sure this get included on every page -->
<!--[if !IE]><script>fixScale(document);</script><![endif]-->
