<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="brand-logo" src="/images/ev3dev_logo_white.png" alt="ev3dev logo" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" id="main-nav">
                    <li>
                        <a href="/" title="There's no place like Home...">Home</a>
                    </li>
                    <li>
                        <a href="/docs/getting-started" title="Our Getting Started guide">Get Started</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" title="Documentation on using ev3dev">
                            Documentation
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/docs/tutorials">Tutorials</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/docs/libraries">Libraries</a>
                            </li>
                            <li>
                                <a href="#this-does-not-exist">Low-level driver access</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/docs">More...</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/support" title="Get Help">News</a>
                    </li>
                    <li>
                        <a href="/news" title="ev3dev news">News</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Community
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/projects" title="Discover projects that use ev3dev">Project showcase</a>
                            </li>
                            <li>
                                <a href="/contribute" title="How to contribute to ev3dev">Contribute</a>
                            </li>
                            <li>
                                <a href="/share" title="Share projects that use ev3dev">Share</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- items below float right, so appear in reverse order -->
                <div id="search-container">
                    <form class="navbar-form navbar-right dropdown" onsubmit="return false;">
                        <input type="text" id="search-input" class="form-control" placeholder="Quick nav" autocomplete="off" />
                        <div class="dropdown-menu" id="search-dropdown">
                            <div class="search-results-container" id="search-results-docs">
                                <h2>In docs</h2>
                                <div data-content="docs-results">
                                    <div class="no-results-note">No results</div>
                                </div>
                            </div>

                            <div class="search-results-container" id="search-results-projects">
                                <h2>In projects</h2>
                                <div data-content="project-results">
                                    <div class="no-results-note">No results</div>
                                </div>
                            </div>

                            <div class="search-results-container" id="search-results-news">
                                <h2>In news</h2>
                                <div data-content="news-results">
                                    <div class="no-results-note">No results</div>
                                </div>
                            </div>

                            <div class="search-results-container" id="search-results-misc">
                                <h2>In other pages</h2>
                                <div data-content="misc-results">
                                    <div class="no-results-note">No results</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>
