<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    <link rel="alternate" type="application/atom+xml" href="/news/atom.xml" title="Atom feed">
    <link rel="icon" href="/favicon.ico" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-extensions.css">
    <!-- Nav infrastructure and misc utils (search, user cards, embeds, CC license) -->
    <link rel="stylesheet" href="/stylesheets/infrastructure-utils.css" />

    <!-- 3rd-party libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.getUrlParam.js"></script>
    <script src="/javascripts/jquery.loadTemplate-1.4.4.min.js"></script>
    <script src="/javascripts/respond.js"></script>
    <script src="/javascripts/ua-parser.min.js"></script>

    <!-- Loads user-cards from GH API -->
    <script src="/javascripts/cards.js"></script>
    <!-- Responds to queries typed into the "Quick nav" box -->
    <script src="/javascripts/search.js"></script>
    <!-- Converts static descriptors of tab target content into live text and links -->
    <script src="/javascripts/tabs.js"></script>
    <!-- Adds classes and other styles to pages where hard-coded css can't be used -->
    <script src="/javascripts/style-helpers.js"></script>

    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Template for search results -->
    <script type="text/html" id="search-result-template">
        <div class="search-result">
            <a data-href="href"><h4 data-content="title"></h4></a>
            <span data-content="breadcrumbs" class="search-result-breadcrumbs"></span>
            <span data-content="author" class="search-result-author"></span><br/>
        </div>
    </script>

    {% if page.extra-head-content %}
    {{ page.extra-head-content }}
    {% endif %}

</head>
