#brand-logo {
    height: 100%;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.jumbotron h1 {
    font-size: 54px;
}

.heading-icon {
    margin-right: 8px;
}

.featurette-divider {
    margin: 80px 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.projects-featurette {
    background-image: url('../images/project-showcase.jpg');
    background-position-y: center;
    background-repeat: repeat-x;
    background-size: contain;

    margin-top: 80px;
    margin-bottom: 80px;
}

.projects-featurette-content {
    padding-top: 80px;
    padding-bottom: 80px;

    color: #fafafa;
}

#footer {
    margin-top: 40px;
}

.navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media all and (min-width:992px) {
    .featurette-heading {
        /*margin-top: 120px;*/
    }
}

@media all and (min-width:768px) {
    .featurette-heading {
        font-size: 50px;
    }
}

body.no-jumbotron {
  padding-top: 40px;
}
@media (max-width: 979px) {
  body.no-jumbotron {
    padding-top: 0px;
  }
}