#search-input {
    width: 130px;
}

#search-dropdown {
    width: 320px;
    max-height: 500px;
    height: 500px;
    overflow-y: scroll;
    display: none;
}

    #search-dropdown h2 {
        margin: 0;
    }

.search-results-container {
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.search-result {
    display: none;
}

    .search-result > div:empty {
        display: none;
    }

    .search-result h4 {
        font-size: large;
        margin-bottom: 0;
    }

.search-result-author {
}

.no-results-note {
    display: none;
    margin-top: 10px;
}

    .no-results-note:only-child {
        display: block;
    }

.user-card {
    position: relative;
    min-height: 40px;
    background-color: #252525;
    font-family: "Helvetica", Arial, sans-serif;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    font-weight: 100;
    padding: 5px;
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

    .user-card .user-card-avatar {
        position: absolute;
        float: left;
        max-height: 100%;
        width: auto;
        max-width: 20%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .user-card .user-card-avatar img {
            vertical-align: middle;
            border: 1px solid #aaa;
            border-radius: 2px;
            height: 40px;
        }

    .user-card .user-card-text {
        clear: both;
        margin-left: auto;
        margin-right: 0;
        width: 75%;
        height: 100%;
        vertical-align: middle;
    }

    .user-card .user-card-name {
        font-size: 1.1em;
        font-weight: normal;
        vertical-align: middle;
    }

    .user-card .user-card-login {
        font-size: 0.9em;
        font-weight: 100;
        vertical-align: middle;
    }

.youtube-embed {
    width: 100%;
    height: 300px;
}

.screenshot {
    text-align: center;
    display: block;
}

@media print, screen and (max-width: 650px) {
    #search-li {
        display: none;
    }
}

.cclicense {
    text-align: center;
    color: #696969;
}

#footer {
    text-align: center;
    color: #696969;

    margin-bottom: 50px;
}

[tab-area] {
    margin: 0px 0px 20px;
}

ul[tab-list] {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

    ul[tab-list] > li {
        cursor: pointer;
        -webkit-appearance: button;
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
        color: white;
        background-color: rgb(48, 48, 48);
        line-height: 14px;
        font-size: 14px;
        display: inline-block;
        text-align: center;
        border: 2px solid #434343;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding: 6px 10px;
        margin: 0px;
        border-bottom: none;
    }

        ul[tab-list] > li:hover {
            background-color: #404040;
        }

        ul[tab-list] > li.tab-active {
            cursor: unset;
            background-color: #434343;
        }

[tab-content-area] {
    margin: 0px;
    padding: 12px;
    background-color: #434343;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

[tab-content] {
    margin: 0px;
    padding: 12px;
    background-color: #252525;
    border-radius: 6px;
}

.xl-button-text {
    font-size: 22px;
}