#search-issues, #search-input {
    width: 116px;
    padding: 8px 12px 13px 12px;
    margin-top: 7px;
    height: 14px;
    font-family: "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #efefef;
    background: #191919;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #121212;
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}

#search-issues {
    width: 80%;
    margin-right: 12px;
}

#search-dropdown {
    position: relative;
    left: -180px;
    top: 8px;
    width: 320px;
    max-height: 500px;
    height: 500px;
    overflow-y: scroll;
    display: none;
    line-height: 100%;
    background-color: #191919;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #121212;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

    #search-dropdown h2 {
        margin: 0;
    }

.search-results-container {
    padding-top: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#search-li {
    width: 140px;
}

.search-result {
    display: none;
}

    .search-result > div:empty {
        display: none;
    }

    .search-result h4 {
        color: #fe8a18;
        font-size: large;
        margin-bottom: 0;
    }

.search-result-author {
}

.no-results-note {
    display: none;
    margin-top: 10px;
}

    .no-results-note:only-child {
        display: block;
    }

.edit-on-github {
    float: right;
    margin-top: -30px;
}

.user-card {
    position: relative;
    min-height: 40px;
    background-color: #252525;
    font-family: "Helvetica", Arial, sans-serif;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    font-weight: 100;
    padding: 5px;
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}

    .user-card .user-card-avatar {
        position: absolute;
        float: left;
        max-height: 100%;
        width: auto;
        max-width: 20%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }

        .user-card .user-card-avatar img {
            vertical-align: middle;
            border: 1px solid #aaa;
            border-radius: 2px;
        }

    .user-card .user-card-text {
        clear: both;
        margin-left: auto;
        margin-right: 0;
        width: 75%;
        height: 100%;
        vertical-align: middle;
    }

    .user-card .user-card-name {
        font-size: 1.1em;
        font-weight: normal;
        vertical-align: middle;
    }

    .user-card .user-card-login {
        font-size: 0.9em;
        font-weight: 100;
        vertical-align: middle;
    }

.youtube-embed {
    width: 100%;
    height: 300px;
}

.screenshot {
    text-align: center;
    display: block;
}

@media print, screen and (max-width: 650px) {
    #search-li {
        display: none;
    }
}

.cclicense {
    text-align: center;
    color: #696969;
}

#footer {
    text-align: center;
    color: #696969;
}