---
---

.language-icon {
    height: 25px;
}

.project-thumbnail-container {
    img {
        margin-top: 15px;
    }
    
    .caption {
        padding-bottom: 0;
    }
    
    .btn-primary {
        width: 100%;
    }
}

.centered-light-heading {
    font-size: 16px;
    color: #aaa;
    text-align: center;
    margin: 5px 0 5px !important;
}

.spaced-headings h2 {
    margin-top: 35px;
}