---
---

.language-icon {
    height: 25px;
}

.project-thumbnail-container {
    img {
        margin-top: 15px;
    }
    
    .caption {
        padding-bottom: 0;
    }
    
    .btn-primary {
        width: 100%;
    }
}

.centered-light-heading {
    font-size: 16px;
    color: #aaa;
    text-align: center;
    margin: 5px 0 5px !important;
}

.spaced-headings *:not(.suppress-spaced-headings) > h2,
.top-heading-margin {
    margin-top: 100px;
}

.download-button-small {
    margin: 0 6px;
}