#projects-list {
    width: 100%;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

    #projects-list li {
        margin: 10px;
        font-size: 110%;
        width: calc(50% - 20px);
        min-height: 160px;
        max-height: 320px;
        float: left;
    }

@media print, screen and (max-width: 590px) {
    #projects-list li {
        width: 100%;
    }
}

.project-tile-title {
    width: 100%;
    height: 25px;
    border-bottom: 1px solid gray;
    margin-bottom: 6px;
}

.project-tile-img {
    height: 140px;
    float: left;
    margin-right: 10px;
}

.project-tile-excerpt p {
    margin-bottom: 0;
}

#project-credit {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -50px;
}
