---
---

[tab-area] {
    margin: 0px 0px 20px;
}

ul[tab-list] {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul[tab-list] > li {
    cursor: pointer;
    -webkit-appearance: button;
    font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    list-style: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: rgb(48, 48, 48);
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    border: 2px solid #434343;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 6px 10px;
    margin: 0px;
    border-bottom: none;
}

ul[tab-list] > li:hover {
    background-color: #404040;
}

ul[tab-list] > li.tab-active {
    cursor: unset;
    background-color: #434343;
}

[tab-content-area] {
    margin: 0px;
    padding: 12px;
    background-color: #434343;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

[tab-content] {
    margin: 0px;
    padding: 12px;
    background-color: #252525;
    border-radius: 6px;
}

// New platform selection -------------------------------------------
.platform-select-link, .nested-platform-select-link {
    cursor: pointer;
}