{% if page.source_file %}
    {% assign edit_path = page.source_file | replace: 'drivers/lego', 'https://github.com/ev3dev/lego-linux-drivers/edit/master' %}
    {% if page.source_line > 0 %}
        {% assign source_line = page.source_line | plus: 0 %}
        {% assign edit_path = edit_path | append: '#L' | append: source_line %}
    {% endif %}
{% elsif page.path contains 'docs/' %}
    {% if site.github.repository_url %}
        {% assign repo_url = site.github.repository_url %}
    {% else %}
        {% assign repo_url = 'https://github.com/ev3dev/ev3dev.github.io' %}
    {% endif %}
    {% assign edit_path = repo_url | append: '/edit/master/' | append: page.path %}
{% elsif page.path contains 'news/' %}
    {% assign show_news_link = 1 %}
{% elsif page.path == 'download.md' %}
    {% assign show_downloads_refresh_link = 1 %}
{% endif %}

<div class="page-header">
    {% if edit_path %}
        <a class="btn btn-primary pull-right" href="{{ edit_path }}"><span class="glyphicon glyphicon-pencil"></span> Edit on Github</a>
    {% elsif show_news_link %}
        <a class="btn btn-primary pull-right" href="/news/atom.xml">Subscribe via Atom</a>
    {% elsif show_downloads_refresh_link %}
        <a class="btn btn-primary pull-right release-refresh-button"><span class="glyphicon glyphicon-refresh"></span> Reload releases</a>
    {% endif %}
    <h1>
        {{ page.title | xml_escape }}
        <small>{{ page.subtitle }}</small>
    </h1>
</div>