---
layout: page
---

{% assign news_count = 0 %}
{% for post in site.posts %}
    {% if post.categories contains "news" %}
        {% assign news_count = news_count | plus: 1 %}
        {% if post.id == page.id and news_count > 5 %}
            {% assign archive_extension = '/archive' %}
        {% endif %}
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col-lg-9">
        {{ content }}
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Post Info</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    Posted on {{ page.date | date_to_long_string  }}
                </li>
                {% if page.author %}
                <li class="list-group-item">
                    {% for author in page.author %}
                    {% include /util/author-card.html author=author %}
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>