---

---
{% if page.name == "redirect.html" %}
{{ content }}
{% else %}
<!doctype html>
<html>
{% include /page-core/html-head.html %}
{% if page.jumbotron-heading or page.jumbotron-content %}
<body class="has-jumbotron {{page.extra-body-classes}}">
{% else %}
<body class="no-jumbotron {{page.extra-body-classes}}">
{% endif %}
    {% include /page-core/page-header.html %}
    {% if page.jumbotron-heading or page.jumbotron-content %}
    <div class="jumbotron">
        <div class="container">
            <h1>{{ page.jumbotron-heading }}</h1>
            {{ page.jumbotron-content }}
        </div>
    </div>
    {% endif %}
    {% if page.title and page.no-display-title != 1 %}
    <div class="container">
        {% include /page-core/title.html %}
    </div>
    {% endif %}
    {% unless page.no-wrapper %}
    <div class="container">
    {% endunless %}
        {{ content }}
    {% unless page.no-wrapper %}
    </div>
    {% endunless %}
    {% include /page-core/page-footer.html %}
    {% include /page-core/deferred-head-resources.html %}
</body>
</html>
{% endif %}
