---
layout: page
---

<div class="row">
    <div class="col-lg-9">
        {% include youtube-embed.html %}
        {{ content }}
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Project Info</h3>
            </div>
            <ul class="list-group">
                {% if page.programming_language %}
                <li class="list-group-item">
                    Written with {% include language-logo.html language=page.programming_language %}<br />
                </li>
                {% endif %}
                {% if page.project_homepage_url %}
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ page.project_homepage_url }}">Project homepage</a>
                </li>
                {% endif %}
                {% if page.building_instructions_url %}
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ page.building_instructions_url }}">Building instructions</a>
                </li>
                {% endif %}
                {% if page.source_code_url %}
                <li class="list-group-item">
                    <a class="btn btn-primary" href="{{ page.source_code_url }}">Source code</a>
                </li>
                {% endif %}
                {% if page.author %}
                <li class="list-group-item">
                    {% for author in page.author %}
                    {% include author-card.html author = author %}
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>