---

---
﻿<!doctype html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <div class="wrapper">
        <section>
            {% include title.html %}
            <div class="breadcrumbs">
                <a href="{{ site.github.url }}/projects">&lt; Back to Projects Gallery</a>
            </div>
            <div class="project-sidebar">
                <h3>
                    Project Info
                </h3>
                {% if page.github_repo %}
                    <div class="button">
                        <a href="{{ page.github_repo }}">Get the code on GitHub</a>
                    </div><br /><br />
                {% elsif page.code_url %}
                    <div class="button">
                        <a href="{{ page.code_url }}">Get the code</a>
                    </div><br /><br />
                {% endif %}
                {% if page.homepage %}
                    Homepage: <a href="{{ page.homepage }}">{{ page.homepage }}</a> <br /><br />
                {% endif %}
                {% if page.author %}
                Author:<br/><br/>                
                    {% assign author_card = page.author %}
                    {% assign card_style = "width:100%;height:200px;" %}
                    {% include author-card.html %}
                {% endif %}
            </div>
            <div class="project-content-wrapper">
                {% include youtube-embed.html %}
                {{ content }}
                <br />
                <div id="project-credit">
                    {% assign author_mention = page.author %}
                    Posted by {% include author-mention.html %} on {{ page.date | date_to_string }}
                </div>
            </div>
        </section>
        {% include footer.html %}
    </div>
</body>
</html>
