---
title: Contributing
---

﻿<!doctype html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <div class="wrapper">
        <section>
            {% include title.html %}
            <p>
                ev3dev is a HUGE project and we are always happy to receive help.
                Here are some of the many ways you can contribute to the project.
            </p>
            <h3>Write some documentation</h3>
            <p>
                All of our documentation (including this website) is maintained through GitHub via
                <a href="https://help.github.com/articles/using-pull-requests">pull requests</a>.
                If you find an error or would like to add new documentation to the
                <a href="https://github.com/ev3dev/ev3dev/wiki">wiki</a>,
                you can find instructions on how to contribute
                <a href="https://github.com/ev3dev/ev3dev/wiki/How-to-Contribute-to-This-Wiki">here</a>.
                If you have an idea or correction for this website, you can submit it
                <a href="https://github.com/ev3dev/ev3dev.github.io">here</a>.
            </p>
            <h3>Write some software</h3>
            <p>
                As the hardware drivers are being finalized, development will be shifting to software that can interface
                with the hardware. There are many <a href="https://github.com/ev3dev">packages on GitHub</a> that you can
                hack on. Additionally, there are some language bindings listed on the <a href="/">home page</a> that are
                not part of the ev3dev GitHub organization (yet).
            </p>
            <p>
                If you have never used GitHub before, it's super-easy. <a href="https://help.github.com/">Read about it</a>, then send a pull request.
            </p>
            <h3>Write a driver</h3>
            <p>
                Have some sensor that isn't supported yet? With a little technical know-how and the right attitude,
                there is nothing stopping you. Open an <a href="">issue</a> on GitHub and we can help you get started.
            </p>
            <p>
                Some things you will need:
                <ul>
                    <li>The actual hardware (sensor or other device).</li>
                    <li>Technical documentation on the hardware that explains the low level communications (or circuit diagram for analog sensors).</li>
                    <li>A computer or virtual machine running Ubuntu 14.04. (Other Linux distros are OK, but this is what we officially support.)</li>
                    <li>An EV3 serial port adapter like <a href="http://mindsensors.com/index.php?module=pagemaster&PAGE_user_op=view_page&PAGE_id=189&MMN_position=39:39">mindsensors.com EV3 Console Adapter</a> or <a href="http://botbench.com/blog/2013/08/15/ev3-creating-console-cable/">make your own</a>.</li>
                    <li>A logic analyzer.  [ Advertisement: <a href="http://go.referralcandy.com/share/8LP4Z9L">Get 20% off of Logic or Logic16 from Saleae</a> (and @dlech gets $20 credit) ]</li>
                </ul>
            </p>
            <h3>Donate hardware</h3>
            <p>
                Don't have the time or interest in writing a driver? You can donate the hardware and we will make it work for you. See this <a href="http://lechnology.com/2014/08/will-work-for-sensors/">blog post</a> from @dlech for more info.
            </p>
        </section>
        {% include footer.html %}
    </div>
</body>
</html>
